name = "UKSF Task Force Alpha - Mods"
author = "UKSF Taskforce Alpha Team"
prefix = "UKSFTA-Mods"
mainprefix = "z"

keyname = "UKSFTA"
signame = "UKSFTA"

[version]
path = "addons/main/script_version.hpp"

[files]
include = [
    "addons/*.pbo",
    "addons/*.bisign",
    "keys/*.bikey",
    "mod.cpp",
    "meta.cpp",
    "LICENSE",
    "README.md"
]

[archive]
directory = "releases"

workshop_id = "3462905403"
workshop_tags = ["Mod", "Addon"]
